.jumbotron-bg {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 500px; /* Adjust height as needed */
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the image stays behind the content */
  }
  
  .content-container {
    position: relative;
    z-index: 1; /* Ensure the content stays above the image */
  }
  
  .jumbotron-bg {
    background-image: url('<%= asset_path('alpha.jpeg') %>');
  }
  